* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

*.js linguist-language=golang
*.css linguist-language=golang
*.html linguist-language=golang
